h1{
	color:black;
	font-size:200%;
	margin:0;
	text-align:left;
}
h2{
	color: blue;
	font-size:125%;
	margin:20px;
	text-align:left;
	background-color:white;
}
#main{
	margin:20px;
	background-color:white;
	width:100px;
}
body{
	background-color: white;
}
